@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
 
@keyframes pulse {
  0% { transform: scale(1); opacity: 0.5; }
  50% { transform: scale(1.2); opacity: 0.8; }
  100% { transform: scale(1); opacity: 0.5; }
}

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    font-family: "Preahvihear", sans-serif;
    font-weight: 300;
    color: #fff;
    background: #11071F;
    overflow-x: hidden;
 }
 
html{
   scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #7127BA;
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    background: #1A0B2E;
    width: 100%;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 80px;
    padding: 10px;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header button{
    font-family: "Preahvihear", sans-serif;
    background: transparent;
    color: #7127BA;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
}

header button:hover{
    color: white;
    border: none;
    transition: all 0.3s ease;
}

header .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

 .main{
    padding: 100px 0;
    position: relative;
    z-index: 1;  
 }
 
 .main-content{
    display: flex;
    justify-content: center;
    gap: 50px;
 }

 .main-text{
    text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
         gap: 20px;
         max-width: 500px;
 }

 .main-content h2{
    font-size: 50px;
    font-weight: 300;
    line-height: 126%;
 }

 .main-content h2 span{
    color: #7127BA;
 }

 .main-content p{
    font-size: large;
 }

 .main-content p.up{
    font-size: 20px;
    font-weight: 300;
 }

 .main-content p span{
    color: #7127BA;
 }

.main-info{
   margin-bottom: 100px;
}

.about h1{
   font-size: 50px;
   font-weight: lighter ;
   line-height: 120%;
}

.about-info{
   margin-bottom: 50px;
}

.block h4{
   margin-bottom: 2%;
   font-weight: 200;
   font-size: 25px;
}

.block-contact{
   margin-bottom: 40px;
}

.counter{
   margin-bottom: 100px;
   font-size: 20px;
   display: flex;
   gap: 20px;
   border: #7127BA 1px solid;
   padding: 20px;
   border-radius: 10px;
   flex-direction: column;
   width: 100%;
   max-width: 450px;
   align-items: center;
   margin: auto;
}
.counter p{
   font-size: 30px;
   font-weight: 300;
}

.counter button{
   background: #7127BA;
   font-family:"Preahvihear", sans-serif ;
   color: white;
   padding: 10px 20px;
   border: none;
   cursor: pointer;
   font-size: 16px;
   border-radius: 10px;
}

.counter button:hover{
   background: #260f44;
   color: #7127BA;
   border: none;
   transition: all 0.3s ease;
}
.counter button:active{
   background: #5b2096;
   color: white;
   border: none;
   transition: all 0.3s ease;
}

.counter div{
   display: flex;
   gap: 10px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px;
  padding: 20px;
  margin-bottom: 100px;
  margin-top: 50px;
  max-width: 1200px;         /* Ограничиваем ширину сетки, как у хедера */
  margin: 50px auto 100px auto
}

.card {
  background-color: transparent; 
  border-radius: 12px;
  overflow: hidden; 
  border: 2px solid #311152;
  display: flex;
  flex-direction: column;
}

.card:hover {
  border-color: #7127BA;
  transition: border-color 0.3s ease;
  scale: 1.01; 
  transition: all 0.3s ease;
}

.card-image {
  position: relative;
  width: auto;
  height: 200px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff9800;
  color: white;
  font-size: 10px;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 10px;
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.price-icon {
  color: #00e676; 
  font-weight:500;
  font-size: 25px;
}

.subtitle {
  color: #8b949e;
  font-size: 12px;
  margin: 5px 0 15px 0;
}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #8b949e;
  margin-bottom: 15px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 10px;
}

.tag {
  background-color: #21262d;
  color: #c9d1d9;
  font-size: 11px;
  padding: 4px 8px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: auto; 
}

.btn {
  padding: 8px 12px;
  border-radius: 6px; 
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
  border: none;
}

.btn-purple {
   background-color: #7127BA;
  color: white;
}

.btn-purple:hover {
  background-color: #371663;
  transition: all 0.3s ease;
}

.btn-outline {
  background-color: transparent;
  color: #c9d1d9;
  border: 1px solid #30363d;
}

.btn-outline:hover {
  background-color: #21262d;
}

@media (max-width: 992px) {
    .main-content {
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
    }
    
    .main-content img {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    header {
        justify-content: center; 
    }
    
    .main-content h2 {
        font-size: 36px; 
    }

    .about h1 {
        font-size: 34px;
    }
    
    .main {
        padding: 60px 0;
    }

    .about{
        padding: 60px 20px;
    }

    .counter {
        padding: 20px;
    }
    
}

@media (max-width: 480px) {
    header div {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
    
    header button {
        padding: 5px 10px;
        font-size: 16px;
    }
    
    .main-content h2 {
        font-size: 28px;
    }

    .about h1 {
        font-size: 26px;
    }
    
    .counter div {
        flex-direction: column;
        width: 100%;
    }
    
    .counter button {
        width: 100%;
    }
    
    .block {
        flex-direction: column;
        text-align: center;
    }
}